/* You can add global styles to this file, and also import other style files */
button{
  background-color: rgb(109, 109, 255);
  color: white;
  padding: 10px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}
